<div class="youtube-list" style="display: grid;
align-items: center;
justify-content: center;">
<h2>CINEMA.</h2>
<iframe
  src="https://www.youtube-nocookie.com/embed?listType=playlist&list=UUqpkKGnisHUzuSg81I6TBIw"
  width="600"
  height="340"
  style="padding-bottom: 10px;"
  allowfullscreen>
</iframe>

<h2>ANALYSIS.</h2>
<iframe
  src="https://www.youtube-nocookie.com/embed?listType=playlist&list=UU9fm0Qk3WUMCkONVAflB87g"
  width="600"
  height="340"
  style="border: 10px;border-style: solid;"
  allowfullscreen>
</iframe>
</div>